.leftWidth {
		width: 190px;
	}
.leftHeight {
		height: 220px;
	}

body {
	font-size: 83.5%;
}

table {
	font-size: 1em;
}

/* Site
   -------------------------------- */

body {
	font-family: "Trebuchet MS","Verdana", "Helvetica", "Arial", "sans-serif" ;
}

/* Layout
   -------------------------------- */
